name: Python application

on:
  schedule:
    - cron: "*/5 * * * *"
  push:
    branches: [ "main" ]
  workflow_dispatch:  # 우리가 버튼으로 트리거할 수 있는 옵션
    
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests python-dotenv
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Run update_weather.py
      run: |
        python update_weather.py
